.ant-modal .ant-modal-content{
  background-color: #09151d;
  border: 2px solid #28343E;
  color:white;
}
.ant-modal .ant-modal-close {
  color:white;
}
.ant-modal .ant-modal-close:hover {
  color:rgb(216, 80, 80);
}
.custom-input::placeholder {
  font-size: 18px;
  color: grey; 
  opacity: 1; 
}
.custom-input2::placeholder {
  font-size: 15px;
  color: grey; 
  opacity: 1; 
}

.ant-typography kbd{
  background-color: #29a7f6;
  margin:auto;
  color:white;
}

.ant-select-selector{
  width: 100px;
  background-color: #09151d;
 
}
.ratingoption{
   width: 100px;
   height: 40px;
   background: rgb(5, 16, 23);
}
.custom-select .ant-select-selector {
  background-color: rgb(5, 16, 23) !important; /* Change to your desired background color */
  padding: 0.53rem;
  border:2px solid rgb(5, 16, 23);
 
  
}

.ant-select-selector{
  width: 100%;
}

.ant-select-outline{
  border:none;
}




 ::placeholder {
  color: gray !important;
  opacity: 1;
  
}

.ant-select ::placeholder{
  color:grey;
}

.custom-select .ant-select-selection-placeholder {
  color: gray !important;  /* Set your desired placeholder color */
}

/* Style for the placeholder text */
.custom-select .ant-select-selection-placeholder {
  color: gray !important;  /* Change placeholder color */
}

/* Remove the border from the select input */
.custom-select .ant-select-selector {
  border: none !important;  /* Remove border */
  background-color: transparent; /* Set transparent background */
}

/* Style the selected tags */
.custom-select .ant-select-selection-item {
  background-color: black !important;  /* Background for selected tags */
  color: white !important;  /* White color for selected tags text */

}

/* Remove hover effects on the selected tags if necessary */
.custom-select .ant-select-selection-item:hover {
  background-color: black !important;
  color: white !important;
}

/* Style the dropdown list items */
.custom-dropdown .ant-select-item-option-content {
  color: white !important; /* White color for dropdown items */
}




