/* :root {
    --backgroundColor: #051017;
    --cardBackGroundColor: #1B2730;
    --secondaryCardButtonBackground: #28343E;
    --mainTextColor: #c7c7c7;
    --subMainTxtColor: #55616b;
    --dimTextColor: #4C5965;
    --lightButton: #28343E;
    --darkButton: #1B2730;
    --darkButtonBorder: #26333D;
    --highlightedText: #29a7f6;
} */

/* Name description follow button */

.post_profile_pic {
    margin: 10px;
    width: 60px;
    height: 60px;
}

.post-name {
    margin-top: 7px;
    color: #D5DEE1 !important;
}

.post_time {
    margin-top: 19px;
    color: #6D7B88;
}

.post_description {
    font-weight: bolder;
    font-size: 18px;
    color: #C6D0D2;
}

.post_follow_btn {
    border-radius: 20px;
    height: 40px;
    width: 100px;
}

.likes_comments {}

.likes_comments_heart {
    color: white;
    border: 8px solid #c70700;
    background-color: #c70700;
    margin-left: -10px;
    font-size: 16px;
    border-radius: 50%;
    z-index: 2;
}


.likes_comments_comment {
    color: white;
    border: 8px solid #4681f4;
    background-color: #4681f4;
    margin-left: -10px;
    font-size: 16px;
    border-radius: 50%;
}

.comment-count {
    font-size: 17px;
    color: #5D6A77;
}

/* fontSize : "17px",
color : "#5D6A77" */

/* Action Buttons  */

.post-upload-button {
    height: 50px;
    width: 60px;
    border-radius: 15px;
    background-color: #1B2730;
    border: 3px solid #3a4349;

}

.post-upload-button-icon {
    font-size: 22px;
    color: #FEFEFE;
}

.post-upload-button:hover .post-upload-button-icon {
    color: #686868;
    border: none;
}

.post-action-button-mainDiv {
    margin-top: 30px;
    padding-inline: 90px;
    margin-bottom: 20px;
}

/* Like and Comment Count section  */

.post-action-button {
    height: 45px;
    width: 200px;
    border-radius: 15px;
    background-color: #28343E;
    border: none;
}

.post-action-button-icon {
    font-size: 22px;
    color: #FEFEFE;
}

.post-action-button:hover .post-action-button-icon {
    color: #4a4a4a;
}

.post-action-button-text {
    font-size: 19px;
    color: #C6D0D2;
}

.nav-buttons-icons {
    font-size: 17px !important;
}

.nav-buttons-text {
    font-size: 17px !important;
}

.custom-modal .ant-modal-content {
    margin-top: 30px;
    background-color: #1B2730;
}


        /* Mobile responsive */
.card-container {
    width: 100%;
    /* max-width: 300px; */
    margin: 0 auto;
}


.custom-statistic .ant-statistic-content {
    font-size: 18px !important;
    color: white !important;
    margin-top: 4px !important;
}


.profile-custom-input::placeholder,
.profile-custom-textarea::placeholder {
    color: gray;
    /* Change this to your desired placeholder color */
}