body {
    
    margin: 0;
    font-family: Arial, sans-serif;
}
 .main-align{
    display: flex;
    flex-direction: column;
 }
.main-card { 
    border: none;
    width:110%;
    background-color : #1B2730 ; 
    color : white ; 
    border-radius : "30px"; 
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.main-card-inner{
     
     background-color:#1B2730 ; 
     border : none ;
}
.Sign-in {
    display: flex;
    justify-content: center;
    padding-bottom:40px; 
    font-size: 30px;
    color : white;
    font-weight: 700;
    
}
.header-style{
    display: flex;
    justify-content: space-between;
    
}
   

.button-align {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.button-inner {
    padding: 10px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
}

.custom-steps .ant-steps-item-title {
    color: white !important;
    font-size: 20px;
}

.ant-form-item-label>label {
    color: #ffffff !important;
}

.finish-page {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-top: 20px;

}

.heading-form{
     color: white;
      font-size: 25px;
     padding-bottom: 40px;
        font-weight: 600px;
}

.nickname{
    width:20rem;
}

.choice-style{
    background-color: #051017;
}

.horizontal-steps .ant-steps-item-wait .ant-steps-item-title {
    color: white !important;
}

.horizontal-steps .ant-steps-item-process .ant-steps-item-title{
    color: whitesmoke !important;
}

.horizontal-steps .ant-steps-item-finish .ant-steps-item-title {
    color: whitesmoke !important;
}

.horizontal-steps .ant-steps-item-wait .ant-steps-item-tail::after {
    background-color: coral !important;
    border-color: aliceblue !important;
}

.horizontal-steps .ant-steps-item-finish .ant-steps-item-title::after {
    background-color: #18bc83 !important;
    color: #dfd6dd !important;
}

.horizontal-steps .ant-steps-item-wait .ant-steps-item-title::after {
    background-color: #4f4f4f !important;
}

.horizontal-steps .ant-steps-item-process .ant-steps-item-title::after {
    background-color: #4f4f4f !important;
}

.horizontal-steps .ant-steps-item-wait .ant-steps-item-icon{
    color: coral !important;
}

.horizontal-steps .ant-steps-item-process .ant-steps-item-icon {
    color: whitesmoke !important;
}

.horizontal-steps .ant-steps-item-finish .ant-steps-item-icon{
    color: whitesmoke !important;
}

.custom-password-input .ant-input-affix-wrapper {
    background-color: #051017;
    color: white;
  }
  
  .custom-password-input .ant-input-affix-wrapper .ant-input-suffix {
    color: white;
  }
  
  .custom-password-input .ant-input-affix-wrapper .ant-input-suffix .anticon-eye {
    color: white;
  }
  
  .custom-password-input .ant-input-affix-wrapper .ant-input-suffix .anticon-eye-invisible {
    color: white;
  }

  .custom-select .ant-select-selector {
    background-color: #00090f !important; /* Change to your desired background color */
  }
  .custom-select .ant-select-selection-item {
    background-color: #00090f !important; /* Change to your desired background color */
  }

.custom-dropdown .ant-select-item {
  background-color: #051018af !important;
  border:0.5px solid black !important;
   /* Change to your desired dropdown item background color */
}
.custom-dropdown {
    background-color: black; /* Example background color */
  }


.custom-selected-label {
    color: white;
    font-size: 30px;
    font-weight: bold;
     /* Change to your desired selected label color */
  }

.ant-select-selection-search-input{
    color:white;
}

.ratingoptions{
    display: flex;
    justify-content: space-between;
    color:white;
    
}

.ant-form-item-required{
    font-size: 10px;
}

.ant-input{
    width: 98%;
    padding: 0.60rem;
    border-radius: 4px;
    border: 1px solid #00090f;
    background-color: #051017;
    color: white;
    outline: none;
}

.ant-select {
    width: 98%;
    padding: 0.60rem;
    border-radius: 4px;
    border: 1px solid #00090f;
    background-color: #051017;
    color: white;
    outline: none; 
}


  
  


/* Media Queries */


@media (max-width: 992px) {
    .main-card {
        width: 100%;
    }
    .main-card-inner {
        padding: 15px 30px;
    }
    .Sign-in {
        font-size: 22px;
    }
    .button-inner {
        padding: 10px 20px;
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .main-card-inner {
        padding: 10px 15px;
    }
    .Sign-in {
        font-size: 20px;
    }
   
    .button-inner {
        padding: 8px 15px;
        font-size: 14px;
    }
    .ratingoptions{
        display: flex;
        flex-direction: column;
        
    }
}

@media (max-width: 576px) {
    .style-choices{
        width: 15rem;
    }
    .horizontal-steps{
        display: none;
    }
    .main-align{
        border: none;
    }
    .main-card-inner {
        padding: 5px 10px;
    }
    .Sign-in {
        font-size: 28px;
        padding-bottom:0;
        padding-top: 30px;
    }
    .button-inner {
        padding: 15px 20px;
        font-size: 18px;
    }
    .header-form{
       font-size: 10px;
    }

    .nickname{
       width: 100%;
    }
}